html
    head
    link(rel="stylesheet", href="css/bootstrap.css")
    script(src="js/bootstrap.js")
    title BearShortURL
    body(style="text-align:center")
        div(class="container")
            h1(class="text-success") Hello buddy!
            h4 Welcome to 
                b BearShortURL
            form(action="/tool/hashUrl", method="post")

                div(class="form-inline justify-content-center")
                    label(class="mr-sm-2") Orginal URL:
                    input(class="form-control mr-sm-2 w-50", type="text", name="txtOriginalUrl", placeholder="Enter orginal URL")
                    button(class="btn btn-primary", type="submit") Submit        