html
    head
    title BearShortURL
    body(style="text-align:center")
        div
            h1 Your short URL is: 
                span(style="color:green") #{result}
            h3 Thanks for using my BearShortURL !
            h2(style="color: red") Cheers